<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.evc.mapper.ExamMapper">

	<insert id="create" parameterType="com.my.evc.model.Exam" keyProperty="id" useGeneratedKeys="true">
		insert into exam
			(name,subject_ids,people,date,semester_number,note) 
		values
			(#{name},#{subjectIds},#{people},#{date},#{semesterNumber},#{note})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from exam where id=#{id}
	</delete>
	
	<update id="update" parameterType="com.my.evc.model.Exam">
		update exam 
		set 
			name=#{name},
			subject_ids=#{subjectIds},
			people=#{people},
			date=#{date},
			semester_number=#{semesterNumber},
			is_show_grade_rank=#{isShowGradeRank},
			is_show_class_rank=#{isShowClassRank},
			note=#{note}
		where 
			id=#{id}
	</update>
	
	<sql id="all_fields">
		exam.id as id,
		exam.name as name,
		exam.subject_ids as subjectIds,
		exam.people as people,
		exam.date as date,
		exam.semester_number as semesterNumber,
		exam.is_show_grade_rank as isShowGradeRank,
		exam.is_show_class_rank as isShowClassRank,
		exam.note as note,
		exam.creation_date as creationDate
	</sql>
	
	<select id="find" parameterType="int" resultType="com.my.evc.model.Exam">
		select
			<include refid="all_fields"/>
		from exam where id=#{id}
	</select>
	
	<select id="findAll" resultType="com.my.evc.vo.ExamVo">
		select
			<include refid="all_fields"/>,
		semester.name as semesterName
		from exam join semester 
		on semester.number = exam.semester_number 
	</select>
	
	<select id="findBySemester" parameterType="int" resultType="com.my.evc.model.Exam">
		select
			<include refid="all_fields"/>
		from exam where semester_number=#{semesterNumber}
	</select>
	
	<select id="findLastExam" resultType="com.my.evc.vo.ExamVo">
		select
			<include refid="all_fields"/>,
			semester.name as semesterName
		from exam join semester 
		on semester.number = exam.semester_number 
		order by exam.date desc limit 1
	</select>
</mapper>