<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.evc.mapper.ExamMapper">

	<insert id="create" parameterType="com.my.evc.model.Exam" keyProperty="id" useGeneratedKeys="true">
		insert into exam
			(admin_id,name,semester_number,is_half,is_final,note) 
		values
			(#{adminId},#{name},#{semesterNumber},#{isHalf},#{isFinal},#{note})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from exam where id=#{id}
	</delete>
	
	<update id="update" parameterType="com.my.evc.model.Exam">
		update exam 
		set 
			admin_id=#{adminId},
			name=#{name}, 
			semester_number=#{semesterNumber}, 
			is_half=#{isHalf}, 
			is_final=#{isFinal}, 
			is_show_grade_rank=#{isShowGradeRank},
			is_show_class_rank=#{isShowClassRank},
			note=#{note}
		where 
			id=#{id}
	</update>
	
	<sql id="all_fields">
		id as id,
		admin_id as adminId,
		name as name, 
		semester_number as semesterNumber, 
		is_half as isHalf, 
		is_final as isFinal, 
		is_show_grade_rank as isShowGradeRank,
		is_show_class_rank as isShowClassRank,
		note as note,
		creation_date as creationDate
	</sql>
	
	<select id="find" parameterType="int" resultType="com.my.evc.model.Exam">
		select
			<include refid="all_fields"/>
		from exam where id=#{id}
	</select>
	
	<select id="findAll" resultType="com.my.evc.model.Exam">
		select
			<include refid="all_fields"/>
		from exam
	</select>
	
	<select id="findBySemester" parameterType="int" resultType="com.my.evc.model.Exam">
		select
			<include refid="all_fields"/>
		from exam where semester_number=#{semesterNumber}
	</select>
</mapper>