<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.evc.mapper.FileMapper">

	<insert id="create" parameterType="com.my.evc.model.File" keyProperty="id" useGeneratedKeys="true">
		insert into file
			(type,name,path,description)
		values
			(#{type},#{name},#{path},#{description})
	</insert>
	
	<insert id="createBatch" parameterType="java.util.List">
		insert into file
			(type,name,path,description)
		values
		<!-- 对于List类型的参数，这里的collection直接写list就好 -->
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.type},#{item.name},#{item.path},#{item.description})
		</foreach>
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from file where id=#{id}
	</delete>
	
	<update id="update" parameterType="com.my.evc.model.File">
		update file 
		set 
			type=#{type},
			name=#{name},
			path=#{path},
			description=#{description},
			download_count=#{downloadCount}
		where 
			id=#{id}
	</update>
	
	<sql id="all_fields">
		id as id,
		type as type,
		name as name,
		path as path,
		description as description,
		download_count as downloadCount,
		creation_date as creationDate
	</sql>
	
	
	<select id="find" parameterType="int" resultType="com.my.evc.model.File">
		select
			<include refid="all_fields"/>
		from file where id=#{id}
	</select>
	
	<select id="findByName" parameterType="String" resultType="com.my.evc.model.File">
		select
			<include refid="all_fields"/>
		from file where name=#{name}
	</select>
	
	<select id="findAll" resultType="com.my.evc.model.File">
		select
			<include refid="all_fields"/>
		from file 
		order by creation_date desc 
		limit 100
	</select>
</mapper>