<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.evc.mapper.StudentMapper">

	<insert id="create" parameterType="com.my.evc.model.Student" keyProperty="id" useGeneratedKeys="true">
		insert into student
			(number,name,name_pinyin,sex,grade,class,birth_year,birth_day,description) 
		values
			(#{number},#{name},#{namePinyin},#{sex},#{grade},#{clazz},#{birthYear},#{birthDay},#{description})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from student where id=#{id}
	</delete>
	
	<update id="update" parameterType="com.my.evc.model.Student">
		update student 
		set 
			number=#{number},
			name=#{name}, 
			name_pinyin=#{namePinyin}, 
			sex=#{sex}, 
			grade=#{grade}, 
			class=#{clazz}, 
			birth_year=#{birthYear}, 
			birth_day=#{birthDay}, 
			description=#{description}
		where 
			id=#{id}
	</update>
	
	<sql id="all_fields">
		id as id,
		number as number,
		name as name, 
		name_pinyin as namePinyin, 
		sex as sex, 
		grade as grade, 
		class as clazz, 
		birth_year as birthYear, 
		birth_day as birthDay, 
		description as description
	</sql>
	
	<select id="find" parameterType="int" resultType="com.my.evc.model.Student">
		select
			<include refid="all_fields"/>
		from student where id=#{id}
	</select>
	
	<select id="findByIdNumber" parameterType="int" resultType="com.my.evc.model.Student">
		select
			<include refid="all_fields"/>
		from student where number=#{number}
	</select>
	
	<select id="findByPinYin" parameterType="String" resultType="com.my.evc.model.Student">
		select
			<include refid="all_fields"/>
		from student where name_pinyin like concat(concat('%',#{pinyin}),'%');
	</select>
	
	<select id="findAll" resultType="com.my.evc.model.Student">
		select
			<include refid="all_fields"/>
		from student;
	</select>
</mapper>