<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.evc.mapper.UserMapper">

	<insert id="create" parameterType="com.my.evc.model.User" keyProperty="id" useGeneratedKeys="true">
		insert into user
			(role_id,username,password,email) 
		values
			(#{roleId},#{username},#{password},#{email})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from user where id=#{id}
	</delete>
	
	<update id="update" parameterType="com.my.evc.model.User">
		update user set 
			user_id=#{userId},
			username=#{username}, 
			password=#{password}, 
			email=#{email}, 
		where 
			id=#{id}
	</update>
	
	<sql id="all_fields">
		id as id,
		role_id as roleId,
		username as username,
		password as password,
		email as email,
		creation_date as creationDate,
		last_login as lastLogin
	</sql>
	
	
	<select id="find" parameterType="int" resultType="com.my.evc.model.User">
		select 
			<include refid="all_fields"/>
		from user where id=#{id}
	</select>
	
	<select id="findByNameAndPass" parameterType="map" resultType="com.my.evc.model.User">
		select 
			<include refid="all_fields"/>
		from user 
		where 
			username=#{username} and 
			password=#{password}
	</select>

	<update id="updateLastLogin" parameterType="int">
		update user set
			last_login=sysdate() 
		where 
			id=#{id}
	</update>
</mapper>