<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 配置文件logback里可以使用变量，格式：${变量名:-默认值}，注意是"一个冒号+一个减号" -->
    <property name="LOG_PATH" value="${CATALINA_HOME:-.}/logs"></property>
    <property name="ROOT_LOG_LEVEL" value="INFO"/>
    <property name="LOG_FORMAT" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] - %logger{30} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_FORMAT}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/evc.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/evc.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_FORMAT}</pattern>
        </encoder>
    </appender>

    <appender name="AsyncFile" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="AsyncStandard" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="com.my.evc" level="INFO" additivity="false">
        <appender-ref ref="AsyncStandard"/>
        <appender-ref ref="AsyncFile"/>
    </logger>

    <root level="${ROOT_LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
