<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.evc.mapper.RoleMapper">

	<insert id="create" parameterType="com.my.evc.model.Role" keyProperty="id" useGeneratedKeys="true">
		insert into role
			(admin_id,name,permissions) 
		values
			(#{adminId},#{name},#{permissions})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from role where id=#{id}
	</delete>
	
	<update id="update" parameterType="com.my.evc.model.Role">
		update role set 
			admin_id=#{adminId}, 
			name=#{name}, 
			permissions=#{permissions}
		where 
			id=#{id}
	</update>
	
	<sql id="all_fields">
		id as id,
		admin_id as adminId,
		name as name,
		permissions as permissions,
		creation_date as creationDate
	</sql>
	
	
	<select id="find" parameterType="int" resultType="com.my.evc.model.Role">
		select 
			<include refid="all_fields"/>
		from role where id=#{id}
	</select>
</mapper>