<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.evc.mapper.StudentMapper">

	<insert id="create" parameterType="com.my.evc.model.Student" keyProperty="id" useGeneratedKeys="true">
		insert into student
			(number,name,name_pinyin,sex,grade,class,birth_year,birth_day,description) 
		values
			(#{number},#{name},#{namePinyin},#{sex},#{grade},#{clazz},#{birthYear},#{birthDay},#{description})
	</insert>
	
	<insert id="createBatch" parameterType="java.util.List">
		insert into student
			(number,name,name_pinyin,grade,class,birth_day,description) 
		values
		<!-- 对于List类型的参数，这里的collection直接写list就好 -->
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.number},#{item.name},#{item.namePinyin},#{item.grade},#{item.clazz},
			#{item.birthDay},#{item.description})
		</foreach>
	</insert>

	<delete id="delete" parameterType="int">
		delete from student where id=#{id}
	</delete>
	
	<update id="update" parameterType="com.my.evc.model.Student">
		update student 
		set 
			number=#{number},
			name=#{name}, 
			name_pinyin=#{namePinyin}, 
			sex=#{sex}, 
			grade=#{grade}, 
			class=#{clazz}, 
			birth_year=#{birthYear}, 
			birth_day=#{birthDay}, 
			description=#{description}
		where 
			id=#{id}
	</update>
	
	<!-- 批量更新。见help.txt #25 -->
	<!-- 
		此过程将拼出以下用于批量修改的SQL：
		update student
		set number=
		case id
			when 1 then xxx  //特别注意：这里没有逗号，否则SQL会报错。因此下方在第一个<foreach>中separator为空格' '而不是','。
			when 2 then xxx
		end
		where id in
		(1,2,...)
	 -->
	<update id="updateBatch" parameterType="java.util.List">
		update student
		set number=
		<!-- 对于List类型的参数，这里的collection直接写list就好 -->
		<foreach collection="list" item="item" index="index" separator=" " open="case id" close="end">
			when #{item.id} then #{item.number}
		</foreach>
		where id in
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
			#{item.id}
		</foreach>
	</update>
	
	<sql id="all_fields">
		id as id,
		number as number,
		name as name, 
		name_pinyin as namePinyin, 
		sex as sex, 
		grade as grade, 
		class as clazz, 
		birth_year as birthYear, 
		birth_day as birthDay, 
		description as description
	</sql>
	
	<select id="find" parameterType="int" resultType="com.my.evc.model.Student">
		select
			<include refid="all_fields"/>
		from student where id=#{id}
	</select>
	
	<select id="findByIdNumber" parameterType="int" resultType="com.my.evc.model.Student">
		select
			<include refid="all_fields"/>
		from student where number=#{number}
	</select>
	
	<select id="findByPinYin" parameterType="String" resultType="com.my.evc.model.Student">
		select
			<include refid="all_fields"/>
		from student where name_pinyin like concat(concat('%',#{pinyin}),'%');
	</select>
	
	<select id="findAll" resultType="com.my.evc.model.Student">
		select
			<include refid="all_fields"/>
		from student;
	</select>

	<select id="findByNameAndBirthday" parameterType="map" resultType="com.my.evc.model.Student">
		select
			<include refid="all_fields"/>
		from student where name=#{name} and birth_day=#{birthday};
	</select>
</mapper>