body {
	font-size: 14px;
}
.evc-content h1, 
.evc-content h2, 
.evc-content h3, 
.evc-content h4, 
.evc-content h5 {
	font-weight: 200;
}

/**
 * Home page.
 */
.evc-page-header .header, .evc-content, .evc-page-footer {
	width: 1200px;
	margin: 0 auto;
	font-weight: 200;
}

.evc-page-footer {
	text-align: center;
	border-top: 1px solid #d0d0d0;
	padding-top: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.evc-page-header .container-fluid {
	width: 1200px;
}

.evc-page-header .header .logo {
	background-image: url(../images/evc_logo.png);
	height: 50px;
	width: 260px;
	background-repeat: no-repeat;
}

.evc-page-header .header .title {
	background: url(../images/evc_title.png) no-repeat center center;
	height: 50px;
}

.dropdown-menu>li>a:hover {
	background-color: #2e6da4;
	color: #fff;
}

.navbar-nav>li:hover {
	background-color: #e7e7e7;
}


/**
 * Home page.
 */
.evc-content .evc-desc {
	padding: 20px;
	background: #eee;
	line-height: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.evc-content #home_carousel .carousel-control {
	font-size: 100px;
	line-height: 500px;
	width: 12%;
}


/**
 * Contact us page.
 */


/**
 * Support page.
 */

/**
 * File page.
 */

/**
 * Login page.
 */
