/**
 * 公共样式
 */
body {
	font-size: 14px;
}
.evc-content h1, 
.evc-content h2, 
.evc-content h3, 
.evc-content h4, 
.evc-content h5 {
	font-weight: 200;
}
.err-bdr {
	border: 1px solid red;
}
/**
 * 主页(home.jsp)
 */
.evc-page-header .header, .evc-content, .evc-page-footer {
	width: 1200px;
	margin: 0 auto;
	font-weight: 200;
}

.evc-page-footer {
	text-align: center;
	border-top: 1px solid #d0d0d0;
	padding-top: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.evc-page-header .container-fluid {
	width: 1200px;
}

.evc-page-header .header .logo {
	background-image: url(../images/evc_logo.png);
	height: 50px;
	width: 260px;
	background-repeat: no-repeat;
}

.evc-page-header .header .title {
	background: url(../images/evc_title.png) no-repeat center center;
	height: 50px;
}

.dropdown-menu>li>a:hover {
	background-color: #2e6da4;
	color: #fff;
}

.navbar-nav>li:hover {
	background-color: #e7e7e7;
}
.evc-content .evc-p-container {
	line-height: 30px;
	padding: 20px;
	background: #f8f8f8;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
}

.evc-content #home_carousel {
	margin-top: 20px;
}

.evc-content #home_carousel .carousel-control {
	font-size: 100px;
	line-height: 500px;
	width: 12%;
}
 
/**
 * 文件上传页面(file_upload.jsp)
 * 对上传插件的默认样式进行微调，加上evc-content前缀以覆盖默认的样式。
 */
.evc-content .file-preview .fileinput-remove {
	top: 5px;
	font-size: 30px;
}
.evc-content .krajee-default.file-preview-frame {
	padding: 5px;
}
.evc-content .krajee-default.file-preview-error {
	border: 1px solid red;
}
.evc-content .krajee-default .file-footer-caption {
	margin-bottom: 24px;
}
.evc-content .krajee-default.file-preview-frame .file-thumbnail-footer {
	height: 90px;
}
.evc-content .krajee-default .file-thumb-progress .progress, 
.evc-content .krajee-default .file-thumb-progress .progress-bar {
	height: 16px;
	font-size: 9px;
	line-height: 16px;
}

/**
 * 登录页面(login.jsp)
 */
.evc-content .evc-login {
	width: 300px;
	margin: auto;
}
.evc-content .evc-login .row {
	margin-top: 10px;
}

/**
 * 成绩查询页面。
 */
.evc-content .filter {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.evc-content .filter-row {
	margin: 10px 0px;
}
.evc-content .filter-row select,
.evc-content .filter-row input[type=text] {
	width: 200px;
}
.evc-content .filter-block {
	margin-bottom: 20px;
}
.evc-content.score .title {
	font-size: 25px;
}
.evc-content #scoreTable th,
.evc-content #scoreTable td {
	text-align: center;
}
.evc-content .verify-code-img {
	width: 80px;
	height: 35px;
	cursor: pointer;
}
.evc-content .filter-row .verify-code-input {
	width: 116px;
}
.evc-content .btn-group .selected {
	background: #CCC;
	font-weight: 700;
}